.input {
  &::placeholder {
    color: #929BAD;
  }

  &:focus,
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    outline: none;
    -webkit-text-fill-color: #2B3151;
    -webkit-box-shadow: 0 0 0 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}
