@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #2B3151;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f6f8fc;
}

*{
  box-sizing: border-box;
}